

@model SBMSwebApp.Models.Models.SupplierViewModel
@{
    ViewBag.Title = "SupplierDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group" style="border:1px solid #00ff21; padding: 5px;">
    <h4 style="font-family:'Bookman Old Style';" align="center">Delete Supplier</h4>
</div>
<div class="container" style="width:100%">
    <div class="form-group row">
        <a href="/Supplier/Index" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> Supplier List</a><hr />

    </div>
</div>
<div class="container" style="width:70%;margin-top:3%;">
    <div class="form-group row">

        <h5 class="text-danger">Are you sure to delete <b style="background-color:yellow;"><u>'@Model.Name'</u></b> customer?</h5>
    </div>
</div>
@if (Model != null)
{
    <div class="container" style="margin-top:1%;">
        <form method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="IsActive" value="False" />
            <input type="hidden" name="Date" value="@DateTime.Now" />
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label>Supplier Code</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="Code" value="@Model.Code" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label>Name</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="Name" value="@Model.Name" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label>Address</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="Address" value="@Model.Address" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label>Email</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="Email" value="@Model.Email" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label>Contact</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="Contact" value="@Model.Contact" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label>Contact Person</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="ContactPerson" value="@Model.ContactPerson" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                    <input type="submit" class="btn btn-block btn-danger" value="Confirm Delete" />
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>

    </div>
}



