

@model SBMSwebApp.Models.Models.ProductViewModel
@{
    ViewBag.Title = "SaveProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group" style="border:1px solid #00ff21; padding: 5px;">
    <h4 style="font-family:'Bookman Old Style';" align="center">Add Product</h4>
</div>
<div class="container" style="width:100%;">
    <div class="form-group row">
        <a href="/Product/Index" class="btn btn-info"><i class="glyphicon glyphicon-list"></i> Product List</a><hr />

        @if (ViewBag.Message != null)
        {
            <h3 width="60%" align="center" class="label-danger">@ViewBag.Message</h3>

        }
    </div>
</div>
@using (Html.BeginForm("SaveProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" name="IsActive" value="True" />
    <input type="hidden" name="Date" value="@DateTime.Now.ToShortDateString()" />
    <div class="container" style="width:80%; margin-top:3%">
        <div class="col-md-10">
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Product Code</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(c => c.ProductCode, new { @class = "form-control", placeholder = "Enter product code" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Product Name</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(c => c.ProductName, new { @class = "form-control", placeholder = "Enter product name" })
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Categories</label>
                </div>
                <div class="col-md-5">
                    @Html.DropDownListFor(c => c.CategoryId, ViewBag.Categories as SelectList, "--Select--", new { @class = "form-control" })
                </div>
                @*<div class="col-md-2">
                        <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-new-window"><b> Add</b></i></a>
                    </div>*@
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Image</label>
                </div>
                <div class="col-md-5">
                    <input type="file" class="form-control" name="image" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Reorder Level</label>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(c => c.ReorderLevel, new { @class = "form-control", placeholder = "Enter product reorder level" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                    <label>Description</label>
                </div>
                <div class="col-md-5">
                    @Html.TextAreaFor(c => c.Description, new { @class = "form-control", placeholder = "Enter product description" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-3">

                </div>
                <div class="col-md-5">
                    <input type="submit" class="btn btn-block btn-success" value="Save" />
                </div>
            </div>
        </div>
        @*<div class="col-md-4">fjdklf</div>*@
    </div>
}




